body {
    text-align: center;
    background-image: url(/images/paper\ background.avif);
    background-size: cover;
}

#gameBoard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#bottomItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gameItem {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.scoreBoard {
    display: flex;
    justify-content: space-around;
}

.rock:hover,
.paper:hover,
.scissors:hover {
    border: 2px solid yellow;
}

.gameItem.enlarged {
    transform: scale(1.2); 
}